In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.2.0-cp39-cp39-win_amd64.whl.metadata (6.2 kB)
Downloading mysql_connector_python-9.2.0-cp39-cp39-win_amd64.whl (16.1 MB)
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   - -------------------------------------- 0.8/16.1 MB 8.5 MB/s eta 0:00:02
   ---- ----------------------------------- 1.8/16.1 MB 4.6 MB/s eta 0:00:04
   ------ --------------------------------- 2.6/16.1 MB 4.1 MB/s eta 0:00:04
   --------- ------------------------------ 3.7/16.1 MB 4.3 MB/s eta 0:00:03
   ----------- ---------------------------- 4.5/16.1 MB 4.2 MB/s eta 0:00:03
   ------------- -------------------------- 5.2/16.1 MB 4.1 MB/s eta 0:00:03
   -------------- ------------------------- 6.0/16.1 MB 4.1 MB/s eta 0:00:03
   ---------------- ----------------------- 6.8/16.1 MB 4.1 MB/s eta 0:00:03
   ------------------ --------------------- 7.6/16.1 MB 4.1 MB/s eta 0:00:03
   -------------------- ------------------- 8.4/16.1 MB 4.0 MB/s eta 0:00:02
   ----------------------- ---------------- 9.4/16.1 MB 4.0 MB/s eta 0:00:02
   ------------------------- -------------- 10.2/16.1 MB 4.0 MB/s eta 0:00:02
   --------------------------- ------------ 11.0/16.1 MB 4.0 MB/s eta 0:00:02
   ----------------------------- ---------- 11.8/16.1 MB 4.0 MB/s eta 0:00:02
   ------------------------------- -------- 12.6/16.1 MB 4.0 MB/s eta 0:00:01
   --------------------------------- ------ 13.4/16.1 MB 4.0 MB/s eta 0:00:01
   ----------------------------------- ---- 14.4/16.1 MB 4.0 MB/s eta 0:00:01
   ------------------------------------- -- 14.9/16.1 MB 3.9 MB/s eta 0:00:01
   ---------------------------------------  16.0/16.1 MB 3.9 MB/s eta 0:00:01
   ---------------------------------------- 16.1/16.1 MB 3.9 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0

In [2]:
import mysql.connector

# Provided connection details
server_name = 'enqurious-reporting.database.windows.net '
db_name = 'enqurious_1.2_reporting_db'
username = 'enquriousV2_etl_read_only_user'
password = 'oDgcxk5sPSEK*B2WcTT26zubvN$#'

# Setup the connection configuration
db_config = {
    'host': server_name,
    'user': username,
    'password': password,
    'database': db_name
}

# Establish the connection
try:
    conn = mysql.connector.connect(**db_config)
    print("Connection successful!")
except mysql.connector.Error as err:
    print(f"Error: {err}")

Error: 2003 (HY000): Can't connect to MySQL server on 'enqurious-reporting.database.windows.net:3306' (10060)

NameError: name 'conn' is not defined

In [ ]:
# Create a cursor object to execute queries
cursor = conn.cursor()

# Example query: Fetch the first 10 rows from a table named 'your_table'
query = "SELECT * FROM your_table LIMIT 10"
cursor.execute(query)

# Fetch and display the results
rows = cursor.fetchall()
for row in rows:
    print(row)

# Clean up: close the cursor and connection
cursor.close()
conn.close()

In [4]:
!pip install pyodbc

Collecting pyodbc
  Downloading pyodbc-5.2.0-cp39-cp39-win_amd64.whl.metadata (2.8 kB)
Downloading pyodbc-5.2.0-cp39-cp39-win_amd64.whl (68 kB)
Installing collected packages: pyodbc
Successfully installed pyodbc-5.2.0

In [5]:
import pyodbc

# Replace with your actual details
server_name = 'enqurious-reporting.database.windows.net'
db_name = 'enqurious_1.2_reporting_db'
username = 'enquriousV2_etl_read_only_user'
password = 'oDgcxk5sPSEK*B2WcTT26zubvN$#'

# ODBC connection string for Azure SQL
connection_string = (
    f"DRIVER={{ODBC Driver 17 for SQL Server}};"
    f"SERVER={server_name};"
    f"DATABASE={db_name};"
    f"UID={username};"
    f"PWD={password};"
    # Recommended for Azure
    "Encrypt=yes;"
    "TrustServerCertificate=no;"
    "Connection Timeout=30;"
)

try:
    conn = pyodbc.connect(connection_string)
    print("Connection successful!")
    cursor = conn.cursor()

    # Example query
    query = "SELECT TOP 10 * FROM EnquriousV2.programs"
    cursor.execute(query)
    rows = cursor.fetchall()

    for row in rows:
        print(row)

    cursor.close()
    conn.close()
except pyodbc.Error as e:
    print("Error:", e)

Connection successful!
('F25FFAB6-15DF-4774-9C10-03CF263BF920', 'tredence-alchemy-adv-batch-3-oct-24', 'tredence-alchemy-adv-batch-3-oct-24', '[ayushi@mentorskool.com, sayli@mentorskool.com, shuchismitamallick@gmail.com, soma@mentorskool.com]', '[nagesh.v@tredence.com, nikitha.s@tredence.com,]', 'C766EF53-3E92-4C74-9B84-E324EE774E95', False, datetime.datetime(2024, 11, 6, 5, 40, 20, 790000))
('A5010170-EFA2-4C7C-84DE-080246D15803', 'tredence-alchemy-adv-batch-3-dbx-oct-24', 'Tredence Alchemy Advance Batch 3 Databricks October 2024', '[ayushi@mentorskool.com, sayli@mentorskool.com, shuchismitamallick@gmail.com, soma@mentorskool.com]', '[nagesh.v@tredence.com, nikitha.s@tredence.com,]', 'C766EF53-3E92-4C74-9B84-E324EE774E95', False, datetime.datetime(2024, 11, 6, 6, 5, 46, 30000))
('4A98F2AD-DE48-490A-AD9A-0B820054935D', 'data-science-hackathon-march-25', 'data-science-hackathon-march-25', '[soma@mentorskool.com]', '[vaibhav.pathak@fractal.ai]', 'E34E7F2B-49AF-4559-9184-28F6E8C95E05', True, datetime.datetime(2025, 3, 4, 11, 27, 0, 360000))
('2935B90F-BC86-4C2B-98B2-1AE9F84D8AF8', 'tredence-snowpro-core-cert-ind-sep-24', 'Tredence Laterals Snowpro Sep Batch', '[mandar@mentorskool.com]', '[madhavi.gadde@tredence.com, manisha.bairwa@tredence.com]', 'C766EF53-3E92-4C74-9B84-E324EE774E95', False, datetime.datetime(2024, 10, 1, 12, 9, 43, 147000))
('F4429D45-4142-488E-AA84-2DF2440F4A6A', 'adv-sql-24-25', 'tiger-advanced-sql-24-25', '[amit@mentorskool.com]', '[nivedha.ashok@tigeranalytics.com]', '24BAE8B4-8113-402E-B00D-2311FB49E09F', True, datetime.datetime(2024, 12, 19, 17, 16, 35, 650000))
('7B89D21C-AC1C-4F17-BCB7-3BEA64E6568C', 'fractal-genai-hackathon-pre-assessment-oct-24', 'fractal-genai-hackathon-pre-assessment-oct-24', '[soma@mentorskool.com]', '[ramya.krishnakumar@fractal.ai]', 'E34E7F2B-49AF-4559-9184-28F6E8C95E05', False, datetime.datetime(2024, 11, 6, 5, 40, 20, 793000))
('679C8529-B1A2-436E-94F2-44E389FC8C78', 'fractal-imagineers-ds-batch-3-nov-24', 'fractal-imagineers-decision science-batch-3-nov-24', '[shuchismitamallick@gmail.com]', '[vrushabh.bansode@fractal.ai]', 'E34E7F2B-49AF-4559-9184-28F6E8C95E05', False, datetime.datetime(2024, 12, 6, 15, 17, 44, 50000))
('8F602154-7AF4-4E25-8E78-454CECC73941', 'tredence-snowpro-core-cert-na-aug-24', 'Tredence Laterals Snowflake North America Batch-Aug', '[mandar@mentorskool.com]', '[simi.kalsi01@tredence.com, sam.barnaba@tredence.com]', 'C766EF53-3E92-4C74-9B84-E324EE774E95', False, datetime.datetime(2024, 10, 2, 6, 30, 30, 40000))
('3C2F112C-98AE-4703-BC67-592D29BFF8D5', 'tredence-alchemy-adv-batch-3-gcp-oct-24', 'Tredence Alchemy Advance Batch 3 GCP October 2024', '[ayushi@mentorskool.com, sayli@mentorskool.com, shuchismitamallick@gmail.com, soma@mentorskool.com]', '[nagesh.v@tredence.com, nikitha.s@tredence.com,]', 'C766EF53-3E92-4C74-9B84-E324EE774E95', False, datetime.datetime(2024, 11, 6, 6, 4, 31, 477000))
('A2349F12-EC1E-4E23-9E64-5C81CFFF1C0B', 'tredence-airflow-aug-24', 'Tredence Airflow Fundamentals ToC for TMT Vertical-Cohort 1', '[burhanuddin@mentorskool.com, amit@mentorskool.com]', '[mranalini.pareek@tredence.com]', 'C766EF53-3E92-4C74-9B84-E324EE774E95', False, datetime.datetime(2024, 9, 25, 14, 9, 23, 983000))

In [9]:
import pyodbc
import pandas as pd

# Replace with your actual details
server_name = 'enqurious-reporting.database.windows.net'
db_name = 'enqurious_1.2_reporting_db'
username = 'enquriousV2_etl_read_only_user'
password = 'oDgcxk5sPSEK*B2WcTT26zubvN$#'

# ODBC connection string for Azure SQL
connection_string = (
    f"DRIVER={{ODBC Driver 17 for SQL Server}};"
    f"SERVER={server_name};"
    f"DATABASE={db_name};"
    f"UID={username};"
    f"PWD={password};"
    "Encrypt=yes;"
    "TrustServerCertificate=no;"
    "Connection Timeout=30;"
)

try:
    # Connect to the database
    conn = pyodbc.connect(connection_string)
    print("Connection successful!")

    # Create a cursor
    cursor = conn.cursor()

    # -------------------------------------------------------------------------
    # 1. Get a list of all table names in the database
    # -------------------------------------------------------------------------
    cursor.execute("""
        SELECT TABLE_NAME
        FROM INFORMATION_SCHEMA.TABLES
        WHERE TABLE_TYPE = 'BASE TABLE'
    """)
    
    tables = [row[0] for row in cursor.fetchall()]
    print("Tables found:", tables)
    results = cursor.fetchall()
    print("results", results)
    # -------------------------------------------------------------------------
    # 2. For each table, fetch all rows into a DataFrame
    # -------------------------------------------------------------------------
    dataframes = {}  # Dictionary to store table_name -> DataFrame

    for schema_name, table_name in results:
        # Use fully qualified name: [schema].[table]
        fq_table_name = f"[{schema_name}].[{table_name}]"
        query = f"SELECT * FROM {fq_table_name}"
        print(f"Querying {fq_table_name} ...")
        
        # Although pandas warns about direct DBAPI usage, it still often works:
        df = pd.read_sql(query, conn)
        dataframes[table_name] = df
        print(f"  -> Loaded {len(df)} rows from {fq_table_name}")

    # Close the cursor and connection
    cursor.close()
    conn.close()

except pyodbc.Error as e:
    print("Error:", e)

Connection successful!
Tables found: ['contents', 'skill_path', 'deployments', 'scenarios', 'nuvepro_etl_track_data', 'progress', 'nuvepro_lab_reports', 'inputs', 'meetings', 'attendance', 'meeting_invitees', 'evaluations', 'progress_snapshot', 'skills_scores', 'clients', 'programs', 'learners', 'nuvepro_program_wise_learners_labs', 'program_wise_learners']
results []

In [11]:
import os 

# Adjust this to the folder where you want to save the CSV files
output_folder = "csv_output"

# Create the folder if it doesn't exist
os.makedirs(output_folder, exist_ok=True)

try:
    conn = pyodbc.connect(connection_string)
    print("Connection successful!")
    cursor = conn.cursor()

    # Get all schema & table names
    cursor.execute("""
        SELECT TABLE_SCHEMA, TABLE_NAME
        FROM INFORMATION_SCHEMA.TABLES
        WHERE TABLE_TYPE = 'BASE TABLE'
    """)
    results = cursor.fetchall()

    dataframes = {}

    for schema_name, table_name in results:
        # Use fully qualified name: [schema].[table]
        fq_table_name = f"[{schema_name}].[{table_name}]"
        query = f"SELECT * FROM {fq_table_name}"
        print(f"Querying {fq_table_name} ...")
        
        # Although pandas warns about direct DBAPI usage, it still often works:
        df = pd.read_sql(query, conn)
        dataframes[table_name] = df
        print(f"  -> Loaded {len(df)} rows from {fq_table_name}")

        # Create a filename that includes the schema and table
        # Example: "dbo_contents.csv"
        filename = f"{schema_name}_{table_name}.csv"
        filepath = os.path.join(output_folder, filename)

        # Save the DataFrame to CSV (no index by default)
        df.to_csv(filepath, index=False, encoding="utf-8-sig")
        print(f"  -> Saved to: {filepath}")

    cursor.close()
    conn.close()

except pyodbc.Error as e:
    print("Error:", e)

Connection successful!
Querying [enquriousV2].[contents] ...
  -> Loaded 366 rows from [enquriousV2].[contents]
  -> Saved to: csv_output\enquriousV2_contents.csv
Querying [enquriousV2].[skill_path] ...

C:\Users\shuchismita_mallick.Shuchismita\AppData\Local\Temp\ipykernel_26196\2028583470.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

  -> Loaded 15 rows from [enquriousV2].[skill_path]
  -> Saved to: csv_output\enquriousV2_skill_path.csv
Querying [enquriousV2].[deployments] ...
  -> Loaded 548 rows from [enquriousV2].[deployments]
  -> Saved to: csv_output\enquriousV2_deployments.csv
Querying [enquriousV2].[scenarios] ...
  -> Loaded 570 rows from [enquriousV2].[scenarios]
  -> Saved to: csv_output\enquriousV2_scenarios.csv
Querying [enquriousV2].[nuvepro_etl_track_data] ...
  -> Loaded 1 rows from [enquriousV2].[nuvepro_etl_track_data]
  -> Saved to: csv_output\enquriousV2_nuvepro_etl_track_data.csv
Querying [enquriousV2].[progress] ...
  -> Loaded 25357 rows from [enquriousV2].[progress]
  -> Saved to: csv_output\enquriousV2_progress.csv
Querying [enquriousV2].[nuvepro_lab_reports] ...
  -> Loaded 459 rows from [enquriousV2].[nuvepro_lab_reports]
  -> Saved to: csv_output\enquriousV2_nuvepro_lab_reports.csv
Querying [enquriousV2].[inputs] ...
  -> Loaded 4915 rows from [enquriousV2].[inputs]
  -> Saved to: csv_output\enquriousV2_inputs.csv
Querying [enquriousV2].[meetings] ...
  -> Loaded 74 rows from [enquriousV2].[meetings]
  -> Saved to: csv_output\enquriousV2_meetings.csv
Querying [enquriousV2].[attendance] ...
  -> Loaded 1380 rows from [enquriousV2].[attendance]
  -> Saved to: csv_output\enquriousV2_attendance.csv
Querying [enquriousV2].[meeting_invitees] ...
  -> Loaded 1249 rows from [enquriousV2].[meeting_invitees]
  -> Saved to: csv_output\enquriousV2_meeting_invitees.csv
Querying [enquriousV2].[evaluations] ...
  -> Loaded 5681 rows from [enquriousV2].[evaluations]
  -> Saved to: csv_output\enquriousV2_evaluations.csv
Querying [enquriousV2].[progress_snapshot] ...
  -> Loaded 509985 rows from [enquriousV2].[progress_snapshot]
  -> Saved to: csv_output\enquriousV2_progress_snapshot.csv
Querying [enquriousV2].[skills_scores] ...
  -> Loaded 242433 rows from [enquriousV2].[skills_scores]
  -> Saved to: csv_output\enquriousV2_skills_scores.csv
Querying [enquriousV2].[clients] ...
  -> Loaded 7 rows from [enquriousV2].[clients]
  -> Saved to: csv_output\enquriousV2_clients.csv
Querying [enquriousV2].[programs] ...
  -> Loaded 29 rows from [enquriousV2].[programs]
  -> Saved to: csv_output\enquriousV2_programs.csv
Querying [enquriousV2].[learners] ...
  -> Loaded 1161 rows from [enquriousV2].[learners]
  -> Saved to: csv_output\enquriousV2_learners.csv
Querying [enquriousV2].[nuvepro_program_wise_learners_labs] ...
  -> Loaded 393 rows from [enquriousV2].[nuvepro_program_wise_learners_labs]
  -> Saved to: csv_output\enquriousV2_nuvepro_program_wise_learners_labs.csv
Querying [enquriousV2].[program_wise_learners] ...
  -> Loaded 1303 rows from [enquriousV2].[program_wise_learners]
  -> Saved to: csv_output\enquriousV2_program_wise_learners.csv