In [1]:
import pandas as pd 

clients = pd.read_csv(r"G:\My Drive\ML\2025\Project\Database Agent\data\enquriousV2_clients.csv")
content = pd.read_csv(r"G:\My Drive\ML\2025\Project\Database Agent\data\enquriousV2_contents.csv")
deployment = pd.read_csv(r"G:\My Drive\ML\2025\Project\Database Agent\data\enquriousV2_deployments.csv")
evaluation = pd.read_csv(r"G:\My Drive\ML\2025\Project\Database Agent\data\enquriousV2_evaluations.csv")
programs  = pd.read_csv(r"G:\My Drive\ML\2025\Project\Database Agent\data\enquriousV2_programs.csv")
program_wise_learners = pd.read_csv(r"G:\My Drive\ML\2025\Project\Database Agent\data\enquriousV2_program_wise_learners.csv")
progress = pd.read_csv(r"G:\My Drive\ML\2025\Project\Database Agent\data\enquriousV2_progress.csv")
learners  = pd.read_csv(r"G:\My Drive\ML\2025\Project\Database Agent\data\enquriousV2_learners.csv")
attendance = pd.read_csv(r"G:\My Drive\ML\2025\Project\Database Agent\data\enquriousV2_attendance.csv")

## Let's prepare Attendance information 

**Goal—to get learner attendance grouped by client and program—you typically need:**

* All learners for a given client and program (even if some have zero attendance).
* Their attendance records (meeting join/left times, etc.) when available.

In [2]:
attendance.head()

,id,learner_id,meeting_id,learner_joined_at,learner_left_at
0,EFB0A2D0-AB94-48D3-9656-00166E8E7CEA,FDA35EDE-2DB2-4A15-B0FD-052C52705FEA,073AF799-B36D-498A-8F18-E41594B0D152,2024-12-05 02:32:55,2024-12-05 04:13:24
1,FA57407C-B9A3-4CC2-8BF5-001F9E0FBC13,8B30B5BB-FE3F-4C34-8DA7-A2CD8614471E,135A9C82-2890-421A-A604-F8BF6886FBC3,2024-10-04 08:37:50,2024-10-04 10:01:11
2,CD04C3A2-9E1B-4F7B-B7BE-0037513D5314,0DCFCD3E-AF50-4738-8716-4EE4A2607D10,DE02FFAA-3089-4BB2-8484-B77CC4CBADC1,2024-10-08 09:32:28,2024-10-08 10:06:25
3,62C20D13-9A90-4E75-9A89-0050A8742964,D8C39EB3-CFF5-4B22-93E7-40DFAACE6048,073AF799-B36D-498A-8F18-E41594B0D152,2024-12-05 02:33:54,2024-12-05 03:13:12
4,D8519E61-7B14-46D9-A7E3-006BAA5CA386,227FE42D-70DE-4594-95B3-5BB926AF3EF6,073AF799-B36D-498A-8F18-E41594B0D152,2024-12-05 03:29:51,2024-12-05 03:31:33

In [3]:
attendance.learner_id.nunique()

91

In [4]:
attendance.shape

(1380, 5)

In [5]:
attendance.meeting_id.nunique()

73

In [6]:
learners.head()

,id,email,name
0,64A02C79-4457-43C7-80FA-00BB5CE650F7,saylee.patil@tredence.com,Saylee Patil
1,D8A67633-900D-46EC-BEE9-00F16669DBE6,rohitkumar.danda@tigeranalytics.com,ROHITKUMAR DANDA
2,6D4F1966-591D-49AC-A5AE-00F50EB2F8F7,aniket.mitra01@tredence.com,Aniket Mitra
3,6E0D13FC-71D9-4826-9677-014D48C1BA13,sonthaliavansika@gmail.com,Vansika Sonthalia
4,5C64A63A-EC64-4A13-928A-01557E01C307,ashwini.kayartaya@fractal.ai,Ashwini Kayartaya

In [7]:
df = attendance.merge(learners, left_on="learner_id", right_on="id", how="left")
df.head()

,id_x,learner_id,meeting_id,learner_joined_at,learner_left_at,id_y,email,name
0,EFB0A2D0-AB94-48D3-9656-00166E8E7CEA,FDA35EDE-2DB2-4A15-B0FD-052C52705FEA,073AF799-B36D-498A-8F18-E41594B0D152,2024-12-05 02:32:55,2024-12-05 04:13:24,FDA35EDE-2DB2-4A15-B0FD-052C52705FEA,sayar.chowdhury@tredence.com,Sayar Roy Chowdhury
1,FA57407C-B9A3-4CC2-8BF5-001F9E0FBC13,8B30B5BB-FE3F-4C34-8DA7-A2CD8614471E,135A9C82-2890-421A-A604-F8BF6886FBC3,2024-10-04 08:37:50,2024-10-04 10:01:11,8B30B5BB-FE3F-4C34-8DA7-A2CD8614471E,akshay.misal@tredence.com,Akshay Misal
2,CD04C3A2-9E1B-4F7B-B7BE-0037513D5314,0DCFCD3E-AF50-4738-8716-4EE4A2607D10,DE02FFAA-3089-4BB2-8484-B77CC4CBADC1,2024-10-08 09:32:28,2024-10-08 10:06:25,0DCFCD3E-AF50-4738-8716-4EE4A2607D10,vineeth.chithaluri@tredence.com,Vineeth Chithaluri
3,62C20D13-9A90-4E75-9A89-0050A8742964,D8C39EB3-CFF5-4B22-93E7-40DFAACE6048,073AF799-B36D-498A-8F18-E41594B0D152,2024-12-05 02:33:54,2024-12-05 03:13:12,D8C39EB3-CFF5-4B22-93E7-40DFAACE6048,anishkha.c@tredence.com,Anishkha Chandrasekar
4,D8519E61-7B14-46D9-A7E3-006BAA5CA386,227FE42D-70DE-4594-95B3-5BB926AF3EF6,073AF799-B36D-498A-8F18-E41594B0D152,2024-12-05 03:29:51,2024-12-05 03:31:33,227FE42D-70DE-4594-95B3-5BB926AF3EF6,gangireddy.reddy@tredence.com,Gangireddy Pranitha Reddy

In [8]:
df.rename(columns={'id_x':"meeting"},inplace=True)
df.drop(['id_y'], axis=1, inplace=True)
df.head()

,meeting,learner_id,meeting_id,learner_joined_at,learner_left_at,email,name
0,EFB0A2D0-AB94-48D3-9656-00166E8E7CEA,FDA35EDE-2DB2-4A15-B0FD-052C52705FEA,073AF799-B36D-498A-8F18-E41594B0D152,2024-12-05 02:32:55,2024-12-05 04:13:24,sayar.chowdhury@tredence.com,Sayar Roy Chowdhury
1,FA57407C-B9A3-4CC2-8BF5-001F9E0FBC13,8B30B5BB-FE3F-4C34-8DA7-A2CD8614471E,135A9C82-2890-421A-A604-F8BF6886FBC3,2024-10-04 08:37:50,2024-10-04 10:01:11,akshay.misal@tredence.com,Akshay Misal
2,CD04C3A2-9E1B-4F7B-B7BE-0037513D5314,0DCFCD3E-AF50-4738-8716-4EE4A2607D10,DE02FFAA-3089-4BB2-8484-B77CC4CBADC1,2024-10-08 09:32:28,2024-10-08 10:06:25,vineeth.chithaluri@tredence.com,Vineeth Chithaluri
3,62C20D13-9A90-4E75-9A89-0050A8742964,D8C39EB3-CFF5-4B22-93E7-40DFAACE6048,073AF799-B36D-498A-8F18-E41594B0D152,2024-12-05 02:33:54,2024-12-05 03:13:12,anishkha.c@tredence.com,Anishkha Chandrasekar
4,D8519E61-7B14-46D9-A7E3-006BAA5CA386,227FE42D-70DE-4594-95B3-5BB926AF3EF6,073AF799-B36D-498A-8F18-E41594B0D152,2024-12-05 03:29:51,2024-12-05 03:31:33,gangireddy.reddy@tredence.com,Gangireddy Pranitha Reddy

In [9]:
programs.head()

,id,code,code_description,owner_emails,spoc_emails,client_id,is_active,created_at
0,F25FFAB6-15DF-4774-9C10-03CF263BF920,tredence-alchemy-adv-batch-3-oct-24,tredence-alchemy-adv-batch-3-oct-24,"[ayushi@mentorskool.com, sayli@mentorskool.com...","[nagesh.v@tredence.com, nikitha.s@tredence.com,]",C766EF53-3E92-4C74-9B84-E324EE774E95,False,2024-11-06 05:40:20.790
1,A5010170-EFA2-4C7C-84DE-080246D15803,tredence-alchemy-adv-batch-3-dbx-oct-24,Tredence Alchemy Advance Batch 3 Databricks Oc...,"[ayushi@mentorskool.com, sayli@mentorskool.com...","[nagesh.v@tredence.com, nikitha.s@tredence.com,]",C766EF53-3E92-4C74-9B84-E324EE774E95,False,2024-11-06 06:05:46.030
2,4A98F2AD-DE48-490A-AD9A-0B820054935D,data-science-hackathon-march-25,data-science-hackathon-march-25,[soma@mentorskool.com],[vaibhav.pathak@fractal.ai],E34E7F2B-49AF-4559-9184-28F6E8C95E05,True,2025-03-04 11:27:00.360
3,2935B90F-BC86-4C2B-98B2-1AE9F84D8AF8,tredence-snowpro-core-cert-ind-sep-24,Tredence Laterals Snowpro Sep Batch,[mandar@mentorskool.com],"[madhavi.gadde@tredence.com, manisha.bairwa@tr...",C766EF53-3E92-4C74-9B84-E324EE774E95,False,2024-10-01 12:09:43.147
4,F4429D45-4142-488E-AA84-2DF2440F4A6A,adv-sql-24-25,tiger-advanced-sql-24-25,[amit@mentorskool.com],[nivedha.ashok@tigeranalytics.com],24BAE8B4-8113-402E-B00D-2311FB49E09F,True,2024-12-19 17:16:35.650

In [10]:
df2 = programs.merge(clients, left_on="client_id",right_on="id", how="left")

In [11]:
df2 = df2.rename(columns={"id_x":"program_id","created_at_x":"program_created_at"})

In [12]:
df3 = df2.merge(program_wise_learners, left_on="program_id", right_on="program_id", how="left")
df3.drop(["id_y","created_at_y"], axis=1, inplace=True)

In [13]:
df3.columns

Index(['program_id', 'code', 'code_description', 'owner_emails', 'spoc_emails',
       'client_id', 'is_active', 'program_created_at', 'name', 'learner_id'],
      dtype='object')

In [14]:
df.columns

Index(['meeting', 'learner_id', 'meeting_id', 'learner_joined_at',
       'learner_left_at', 'email', 'name'],
      dtype='object')

In [15]:
merged_df = pd.merge(
    df3,
    df,
    how='left',
    on='learner_id'
)
merged_df.head()

,program_id,code,code_description,owner_emails,spoc_emails,client_id,is_active,program_created_at,name_x,learner_id,meeting,meeting_id,learner_joined_at,learner_left_at,email,name_y
0,F25FFAB6-15DF-4774-9C10-03CF263BF920,tredence-alchemy-adv-batch-3-oct-24,tredence-alchemy-adv-batch-3-oct-24,"[ayushi@mentorskool.com, sayli@mentorskool.com...","[nagesh.v@tredence.com, nikitha.s@tredence.com,]",C766EF53-3E92-4C74-9B84-E324EE774E95,False,2024-11-06 05:40:20.790,Tredence Inc,FDA35EDE-2DB2-4A15-B0FD-052C52705FEA,EFB0A2D0-AB94-48D3-9656-00166E8E7CEA,073AF799-B36D-498A-8F18-E41594B0D152,2024-12-05 02:32:55,2024-12-05 04:13:24,sayar.chowdhury@tredence.com,Sayar Roy Chowdhury
1,F25FFAB6-15DF-4774-9C10-03CF263BF920,tredence-alchemy-adv-batch-3-oct-24,tredence-alchemy-adv-batch-3-oct-24,"[ayushi@mentorskool.com, sayli@mentorskool.com...","[nagesh.v@tredence.com, nikitha.s@tredence.com,]",C766EF53-3E92-4C74-9B84-E324EE774E95,False,2024-11-06 05:40:20.790,Tredence Inc,FDA35EDE-2DB2-4A15-B0FD-052C52705FEA,5E521E0F-B2C7-40E0-8BED-0441B6774BAB,5CC9737C-C952-4DC6-BF44-A8449C16C783,2024-10-28 09:32:22,2024-10-28 10:13:35,sayar.chowdhury@tredence.com,Sayar Roy Chowdhury
2,F25FFAB6-15DF-4774-9C10-03CF263BF920,tredence-alchemy-adv-batch-3-oct-24,tredence-alchemy-adv-batch-3-oct-24,"[ayushi@mentorskool.com, sayli@mentorskool.com...","[nagesh.v@tredence.com, nikitha.s@tredence.com,]",C766EF53-3E92-4C74-9B84-E324EE774E95,False,2024-11-06 05:40:20.790,Tredence Inc,FDA35EDE-2DB2-4A15-B0FD-052C52705FEA,B1DDC250-C2B7-4E58-BCD1-103A77CF2D09,487060BA-4AEE-4485-A730-CAAC3E5B4BF7,2024-11-04 04:28:30,2024-11-04 05:35:32,sayar.chowdhury@tredence.com,Sayar Roy Chowdhury
3,F25FFAB6-15DF-4774-9C10-03CF263BF920,tredence-alchemy-adv-batch-3-oct-24,tredence-alchemy-adv-batch-3-oct-24,"[ayushi@mentorskool.com, sayli@mentorskool.com...","[nagesh.v@tredence.com, nikitha.s@tredence.com,]",C766EF53-3E92-4C74-9B84-E324EE774E95,False,2024-11-06 05:40:20.790,Tredence Inc,FDA35EDE-2DB2-4A15-B0FD-052C52705FEA,E8352E4C-CA32-412A-9F03-11692B4D71D5,7D23F25D-1A67-469B-9D09-1E42D3C168B0,2024-10-29 04:32:21,2024-10-29 06:20:23,sayar.chowdhury@tredence.com,Sayar Roy Chowdhury
4,F25FFAB6-15DF-4774-9C10-03CF263BF920,tredence-alchemy-adv-batch-3-oct-24,tredence-alchemy-adv-batch-3-oct-24,"[ayushi@mentorskool.com, sayli@mentorskool.com...","[nagesh.v@tredence.com, nikitha.s@tredence.com,]",C766EF53-3E92-4C74-9B84-E324EE774E95,False,2024-11-06 05:40:20.790,Tredence Inc,FDA35EDE-2DB2-4A15-B0FD-052C52705FEA,0C01748B-8CF0-423E-BABB-14EEE90AFE50,8727AF32-F000-437A-AB1C-DC41E87B1498,2024-10-18 07:31:26,2024-10-18 08:30:49,sayar.chowdhury@tredence.com,Sayar Roy Chowdhury

In [16]:
import numpy as np

# Convert joined/left to datetime if not already
merged_df['learner_joined_at'] = pd.to_datetime(merged_df['learner_joined_at'])
merged_df['learner_left_at']   = pd.to_datetime(merged_df['learner_left_at'])

# Calculate attendance duration in minutes (example)
merged_df['attendance_minutes'] = (
    merged_df['learner_left_at'] - merged_df['learner_joined_at']
).dt.total_seconds() / 60

In [17]:
merged_df.columns

Index(['program_id', 'code', 'code_description', 'owner_emails', 'spoc_emails',
       'client_id', 'is_active', 'program_created_at', 'name_x', 'learner_id',
       'meeting', 'meeting_id', 'learner_joined_at', 'learner_left_at',
       'email', 'name_y', 'attendance_minutes'],
      dtype='object')

In [18]:
merged_df.head()

,program_id,code,code_description,owner_emails,spoc_emails,client_id,is_active,program_created_at,name_x,learner_id,meeting,meeting_id,learner_joined_at,learner_left_at,email,name_y,attendance_minutes
0,F25FFAB6-15DF-4774-9C10-03CF263BF920,tredence-alchemy-adv-batch-3-oct-24,tredence-alchemy-adv-batch-3-oct-24,"[ayushi@mentorskool.com, sayli@mentorskool.com...","[nagesh.v@tredence.com, nikitha.s@tredence.com,]",C766EF53-3E92-4C74-9B84-E324EE774E95,False,2024-11-06 05:40:20.790,Tredence Inc,FDA35EDE-2DB2-4A15-B0FD-052C52705FEA,EFB0A2D0-AB94-48D3-9656-00166E8E7CEA,073AF799-B36D-498A-8F18-E41594B0D152,2024-12-05 02:32:55,2024-12-05 04:13:24,sayar.chowdhury@tredence.com,Sayar Roy Chowdhury,100.483333
1,F25FFAB6-15DF-4774-9C10-03CF263BF920,tredence-alchemy-adv-batch-3-oct-24,tredence-alchemy-adv-batch-3-oct-24,"[ayushi@mentorskool.com, sayli@mentorskool.com...","[nagesh.v@tredence.com, nikitha.s@tredence.com,]",C766EF53-3E92-4C74-9B84-E324EE774E95,False,2024-11-06 05:40:20.790,Tredence Inc,FDA35EDE-2DB2-4A15-B0FD-052C52705FEA,5E521E0F-B2C7-40E0-8BED-0441B6774BAB,5CC9737C-C952-4DC6-BF44-A8449C16C783,2024-10-28 09:32:22,2024-10-28 10:13:35,sayar.chowdhury@tredence.com,Sayar Roy Chowdhury,41.216667
2,F25FFAB6-15DF-4774-9C10-03CF263BF920,tredence-alchemy-adv-batch-3-oct-24,tredence-alchemy-adv-batch-3-oct-24,"[ayushi@mentorskool.com, sayli@mentorskool.com...","[nagesh.v@tredence.com, nikitha.s@tredence.com,]",C766EF53-3E92-4C74-9B84-E324EE774E95,False,2024-11-06 05:40:20.790,Tredence Inc,FDA35EDE-2DB2-4A15-B0FD-052C52705FEA,B1DDC250-C2B7-4E58-BCD1-103A77CF2D09,487060BA-4AEE-4485-A730-CAAC3E5B4BF7,2024-11-04 04:28:30,2024-11-04 05:35:32,sayar.chowdhury@tredence.com,Sayar Roy Chowdhury,67.033333
3,F25FFAB6-15DF-4774-9C10-03CF263BF920,tredence-alchemy-adv-batch-3-oct-24,tredence-alchemy-adv-batch-3-oct-24,"[ayushi@mentorskool.com, sayli@mentorskool.com...","[nagesh.v@tredence.com, nikitha.s@tredence.com,]",C766EF53-3E92-4C74-9B84-E324EE774E95,False,2024-11-06 05:40:20.790,Tredence Inc,FDA35EDE-2DB2-4A15-B0FD-052C52705FEA,E8352E4C-CA32-412A-9F03-11692B4D71D5,7D23F25D-1A67-469B-9D09-1E42D3C168B0,2024-10-29 04:32:21,2024-10-29 06:20:23,sayar.chowdhury@tredence.com,Sayar Roy Chowdhury,108.033333
4,F25FFAB6-15DF-4774-9C10-03CF263BF920,tredence-alchemy-adv-batch-3-oct-24,tredence-alchemy-adv-batch-3-oct-24,"[ayushi@mentorskool.com, sayli@mentorskool.com...","[nagesh.v@tredence.com, nikitha.s@tredence.com,]",C766EF53-3E92-4C74-9B84-E324EE774E95,False,2024-11-06 05:40:20.790,Tredence Inc,FDA35EDE-2DB2-4A15-B0FD-052C52705FEA,0C01748B-8CF0-423E-BABB-14EEE90AFE50,8727AF32-F000-437A-AB1C-DC41E87B1498,2024-10-18 07:31:26,2024-10-18 08:30:49,sayar.chowdhury@tredence.com,Sayar Roy Chowdhury,59.383333

In [19]:
merged_df = merged_df.rename(columns= {"name_x": "client_name", "name_y":"learner_name"})

In [20]:
attendance.to_csv(r"G:\My Drive\ML\2025\Project\Database Agent\preparing_data\learner_attendence.csv")

### Testing 

* Client - Fractal Analytics
* Program - fractal-imagineers-ds-batch-1-nov-24
* Learner - Samadrito Mukherjee

In [21]:
clients.name.unique()

array(['Tiger Analytics', 'Fractal Analytics', 'MathCo', 'Globalmart',
       'Enqurious Academy', 'Tredence Inc', 'Mentorskool'], dtype=object)

In [22]:
fractal_df = merged_df[merged_df["client_name"] =='Fractal Analytics']

In [23]:
fractal_df.code.unique()

array(['data-science-hackathon-march-25',
       'fractal-genai-hackathon-pre-assessment-oct-24',
       'fractal-imagineers-ds-batch-3-nov-24', 'ml-ops-hackathon-jan-25',
       'sql-problem-solving-hackathon-25', 'fractal-bug-bounty-dec-24',
       'fractal-genai-hackathon-assessment-nov 24',
       'fractal-imagineers-ds-batch-1-nov-24',
       'fractal-imagineers-ds-batch-2-nov-24'], dtype=object)

In [24]:
p1 = merged_df[merged_df["code"] =='fractal-imagineers-ds-batch-1-nov-24']

In [25]:
p1.shape

(278, 17)

In [26]:
p1.learner_id.nunique()

40

In [27]:
p1.meeting.nunique()

259

In [28]:
p1.meeting_id.nunique()

5

In [29]:
p1.columns

Index(['program_id', 'code', 'code_description', 'owner_emails', 'spoc_emails',
       'client_id', 'is_active', 'program_created_at', 'client_name',
       'learner_id', 'meeting', 'meeting_id', 'learner_joined_at',
       'learner_left_at', 'email', 'learner_name', 'attendance_minutes'],
      dtype='object')

In [30]:
p1_= merged_df[merged_df["learner_name"] =='Samadrito Mukherjee']

In [31]:
p1_.shape

(15, 17)

In [32]:
p1_.meeting.nunique()

15