In [6]:
import pandas as pd 

clients = pd.read_csv(r"G:\My Drive\ML\2025\Project\Database Agent\preparing_data\client_program_learner.csv")
content = pd.read_csv(r"G:\My Drive\ML\2025\Project\Database Agent\data\enquriousV2_contents.csv")
deployment = pd.read_csv(r"G:\My Drive\ML\2025\Project\Database Agent\data\enquriousV2_deployments.csv")
evaluation = pd.read_csv(r"G:\My Drive\ML\2025\Project\Database Agent\data\enquriousV2_evaluations.csv")
score = pd.read_csv(r"G:\My Drive\ML\2025\Project\Database Agent\data\enquriousV2_skills_scores.csv")

## Let's prepare score report

In [3]:
clients.head()

,Unnamed: 0,Client_name,program_id,code,code_description,owner_emails,spoc_emails,client_id,is_active,Program_created_at,learner_id,email,learner_name
0,0,Tredence Inc,F25FFAB6-15DF-4774-9C10-03CF263BF920,tredence-alchemy-adv-batch-3-oct-24,tredence-alchemy-adv-batch-3-oct-24,"[ayushi@mentorskool.com, sayli@mentorskool.com...","[nagesh.v@tredence.com, nikitha.s@tredence.com,]",C766EF53-3E92-4C74-9B84-E324EE774E95,False,2024-11-06 05:40:20.790,FDA35EDE-2DB2-4A15-B0FD-052C52705FEA,sayar.chowdhury@tredence.com,Sayar Roy Chowdhury
1,1,Tredence Inc,F25FFAB6-15DF-4774-9C10-03CF263BF920,tredence-alchemy-adv-batch-3-oct-24,tredence-alchemy-adv-batch-3-oct-24,"[ayushi@mentorskool.com, sayli@mentorskool.com...","[nagesh.v@tredence.com, nikitha.s@tredence.com,]",C766EF53-3E92-4C74-9B84-E324EE774E95,False,2024-11-06 05:40:20.790,C63E948F-E30E-4E98-BBB3-0958A54327D5,amrita.haldar@tredence.com,Amrita Haldar
2,2,Tredence Inc,F25FFAB6-15DF-4774-9C10-03CF263BF920,tredence-alchemy-adv-batch-3-oct-24,tredence-alchemy-adv-batch-3-oct-24,"[ayushi@mentorskool.com, sayli@mentorskool.com...","[nagesh.v@tredence.com, nikitha.s@tredence.com,]",C766EF53-3E92-4C74-9B84-E324EE774E95,False,2024-11-06 05:40:20.790,B6A8695E-CDF6-4E32-B160-1E12919588A7,vaishnavi.p@tredence.com,Vaishnavi P
3,3,Tredence Inc,F25FFAB6-15DF-4774-9C10-03CF263BF920,tredence-alchemy-adv-batch-3-oct-24,tredence-alchemy-adv-batch-3-oct-24,"[ayushi@mentorskool.com, sayli@mentorskool.com...","[nagesh.v@tredence.com, nikitha.s@tredence.com,]",C766EF53-3E92-4C74-9B84-E324EE774E95,False,2024-11-06 05:40:20.790,65CE69DF-6422-4A00-B210-3984676181DA,shatakshi.dubey@tredence.com,Shatakshi Dubey
4,4,Tredence Inc,F25FFAB6-15DF-4774-9C10-03CF263BF920,tredence-alchemy-adv-batch-3-oct-24,tredence-alchemy-adv-batch-3-oct-24,"[ayushi@mentorskool.com, sayli@mentorskool.com...","[nagesh.v@tredence.com, nikitha.s@tredence.com,]",C766EF53-3E92-4C74-9B84-E324EE774E95,False,2024-11-06 05:40:20.790,D8C39EB3-CFF5-4B22-93E7-40DFAACE6048,anishkha.c@tredence.com,Anishkha Chandrasekar

In [4]:
content.head()

,id,name,type,level,duration_of_completion
0,108F8BF1-3938-423D-9F99-0093C811C860,Linear Regression for Marketing Budget Optimiz...,SCENARIO,INTERMEDIATE,60
1,D04F3048-709C-4731-ACE3-0113B5A6F878,Beginner Data Science Foundations Assessment |...,SCENARIO,BEGINNER,30
2,1CCDBA20-E830-4D0E-96EE-01307E6A7183,Snowpro Core Full Length Mock Test 3,SCENARIO,BEGINNER,90
3,D1FB65C0-8F5B-482C-AD40-02C64BF5669C,Databricks Full Length Mock Test-2,SCENARIO,INTERMEDIATE,90
4,03F9AE90-5AA7-4098-B4D2-038362B22209,Identifying High-Performing States in Sales at...,SCENARIO,ADVANCED,30

In [5]:
evaluation.head()

,id,deployment_id,learner_id,content_id,mode,status,completed_at,evaluator_email,submitted_at
0,938ED599-732E-4D64-8BED-0002C0CF5A7F,F9191D39-824C-456B-8838-FF8D087718B7,5450C6C7-E473-4F06-9EF9-1B2A94642013,26425FEB-FD0E-4712-A508-ABB15D3137DF,Auto,COMPLETED,2025-01-13 10:48:48,mandar@mentorskool.com,2025-01-13 10:48:50
1,BAC0CCC2-EA94-4FA8-B74B-003919ADAB61,D6669278-9DA2-4176-9F5B-B6C2AAE13F61,98CB963C-39CE-4F27-9CE8-8FD1D59144FF,8ADEA0E5-0B3B-4DCF-B56C-16D51CD718F1,Auto,COMPLETED,2025-02-28 11:06:16,shuchismita@mentorskool.com,NaN
2,7B49037F-E337-423C-8496-006D76BFB82F,25A02A95-441B-48D5-99C7-50FD7664B817,03A4E713-0768-4B41-97BF-EDCCA967D686,351619E4-5D4E-4FFB-A186-B2F91FA22DF7,Auto,COMPLETED,2025-01-13 04:30:38,burhanuddin@mentorskool.com,2025-01-13 04:30:37
3,7F5EAB74-F392-42CA-9E9D-0087AF6DABC0,5EA6A393-E8DD-4BF1-9E26-5D46ADFCEC6C,01ADAD0B-8C42-44F7-944D-C87B294FE2A8,0BC10356-19FD-43BE-A478-168CC58A7F52,Auto,COMPLETED,2025-01-27 06:41:20,divyanshi@mentorskool.com,NaN
4,527BCBBF-1B4A-492B-BDF2-0087BB47D61A,8B9075E3-D0A6-453A-9FA0-F9DC8C561B68,EFD4FCF3-8C8F-4899-84AC-61B4B6B1D39A,8DBC9932-E69E-4ECE-950F-94FF487EC011,Manual,COMPLETED,2025-03-10 15:32:45,amit@mentorskool.com,2025-03-08 07:45:22

In [7]:
score.head()

,id,learner_id,scenario_id,input_id,deployment_id,content_id,skill_path_id,status,total_score,score_obtained,skill_tree,created_at,position_in_skills_path
0,E2AE387D-48B1-4B86-9139-00002B25DE69,5178FEE9-9E88-4890-A0B5-BB00F59178C3,EDD7C843-F3A7-4039-A800-6F4B99C7D13D,78631EA8-F1E5-43BE-9F4B-8779364A1D2F,943A912E-E0BF-42FD-B06C-F271F858E01C,EDD7C843-F3A7-4039-A800-6F4B99C7D13D,NaN,NOT_SUBMITTED,10,0,"tool, snowflake, snowflake-data-transformation...",2025-03-16 00:31:05.067,NaN
1,D47FBCDB-9E15-4C57-A129-00007419FA59,5EEDC789-A7E0-4A3C-B97D-4C157C01F60F,26425FEB-FD0E-4712-A508-ABB15D3137DF,6E5CC111-5C55-4658-B0AC-A23A0ADC3557,252CE295-541B-42AE-A652-8B39BE1B1157,26425FEB-FD0E-4712-A508-ABB15D3137DF,NaN,COMPLETED,10,5,"tool, sql",2025-03-16 00:05:08.690,NaN
2,9526EBFB-2083-459D-9D5C-00007839C589,36392531-5AEE-4182-8CF4-44FF4FF81408,436025B3-79C4-4716-9A0C-1B7C053C25E8,388121BD-4407-4EA2-A9DF-1A1490A0E47A,3D306AAD-D07A-4277-945F-7E3FE6FD9404,436025B3-79C4-4716-9A0C-1B7C053C25E8,NaN,COMPLETED,10,10,"tool, power-bi",2025-01-09 00:03:39.190,NaN
3,9439F4AD-30E7-44EC-BA4C-0000F03AF026,29E2E257-2888-4A17-8420-7B56CF1FC78E,86EFF3E4-FF9A-4EDD-A023-EF526410535B,230BD4DE-600C-4894-9B44-619BE48396AC,88D5CB06-F3CC-46A5-9BCC-11D85B6DE71C,86EFF3E4-FF9A-4EDD-A023-EF526410535B,NaN,COMPLETED,10,10,"tool, snowflake, data-loading-unloading, snowpipe",2025-03-16 00:34:00.053,NaN
4,1F1E4B3D-6E81-4300-A17B-0000FB169C06,F8BF4159-5922-4F73-AF11-939141308DA1,0133B0C2-E0FB-427B-8962-69B8D189D602,53EBC8A4-F14C-4B61-BD0C-A909B184956E,F48496A9-E75C-45F2-923E-B1DE4CE4EC9F,F15C4490-0B8F-48FF-ADEA-EBB45AA7F0FC,NaN,COMPLETED,10,8,"skill, data-visualization, interpretation",2025-03-04 00:46:40.520,NaN

In [8]:
score.shape

(242433, 13)

In [9]:
content.shape

(366, 5)

In [ ]:
content_score = score.merge(content, left_on='content_id', right_on='id', how='left')

In [13]:
content.type.value_counts()

type
SCENARIO       267
MASTERCLASS     56
PROJECT         43
Name: count, dtype: int64

In [14]:
deployment.columns

Index(['id', 'program_id', 'intent', 'start_timestamp', 'end_timestamp',
       'description', 'labels'],
      dtype='object')

In [15]:
deployment.labels.value_counts()

labels
snowpro-core-feb-2025               37
dbx-de-associate-jan-2025           36
alchemy-da-jan-feb-2025             34
adv-sql-24-25                       16
sql-problem-solving-hackathon-25     3
ml-ops-hackathon-jan-25              1
alchemy-foundation-cohort-4-2025     1
data-science-hackathon-march-25      1
alchemy-foundation-cohort-1-2025     1
Name: count, dtype: int64

In [16]:
deployment.intent.value_counts()

intent
Learning      375
Assessment    166
Hackathon       7
Name: count, dtype: int64

In [18]:
deployment_score = score.merge(deployment, left_on='deployment_id', right_on='id', how='left')

In [19]:
deployment_score.shape

(242433, 20)

In [22]:
assessment_score = deployment_score[deployment_score['intent']!='Learning']

In [23]:
assessment_score.shape

(79564, 20)

In [24]:
assessment_score.columns

Index(['id_x', 'learner_id', 'scenario_id', 'input_id', 'deployment_id',
       'content_id', 'skill_path_id', 'status', 'total_score',
       'score_obtained', 'skill_tree', 'created_at', 'position_in_skills_path',
       'id_y', 'program_id', 'intent', 'start_timestamp', 'end_timestamp',
       'description', 'labels'],
      dtype='object')

In [25]:
# Grouping by learner, program_id, labels, deployment_id, and content_id
grouped_df = assessment_score.groupby([
    'learner_id',
    'program_id',
    'labels',
    'deployment_id',
    'content_id'
], as_index=False).agg({
    'score_obtained': 'sum',
    'total_score': 'sum'
})

# Renaming columns for clarity
grouped_df.rename(columns={
    'score_obtained': 'total_skill_score',
    'total_score': 'total_overall_score'
}, inplace=True)

grouped_df.head()

,learner_id,program_id,labels,deployment_id,content_id,total_skill_score,total_overall_score
0,000138B0-0829-4B14-95D3-E3E2FC2BAB41,4A98F2AD-DE48-490A-AD9A-0B820054935D,data-science-hackathon-march-25,470ED3C6-9121-47F0-BD83-61FBAF6B314F,18084BB1-D9DD-4A4B-AC92-4C958322CD7C,0,80
1,002227B6-81FE-40BB-AEBF-89D1A2E53CC5,ED9E2193-746D-4F11-9998-7CA36E6A1038,sql-problem-solving-hackathon-25,7D37E597-B212-455C-B744-B6B287B6C7AF,9DE45741-81F2-4709-B5D1-C668ED612DF5,0,230
2,002227B6-81FE-40BB-AEBF-89D1A2E53CC5,ED9E2193-746D-4F11-9998-7CA36E6A1038,sql-problem-solving-hackathon-25,8B9075E3-D0A6-453A-9FA0-F9DC8C561B68,8DBC9932-E69E-4ECE-950F-94FF487EC011,134,160
3,002227B6-81FE-40BB-AEBF-89D1A2E53CC5,ED9E2193-746D-4F11-9998-7CA36E6A1038,sql-problem-solving-hackathon-25,CB641299-D04D-40CE-A771-D171F7F56331,2EFBB047-189E-4FBA-AEFB-37A014615382,150,150
4,00394E11-3BCE-49AA-912B-6F850121AE06,4241A15D-44A7-491F-B5A3-B99511554D8F,alchemy-da-jan-feb-2025,0BDF5C33-D5CD-42D4-B5BB-CAEE8CA8B98A,98E34932-873E-4A61-B124-B01FA3022043,40,40

In [32]:
score_report = pd.merge(grouped_df,content, left_on='content_id', right_on='id', how='left')
score_report = pd.merge(score_report,clients, on = ['program_id','learner_id'], how= 'left')

In [33]:
score_report.head(1)

,learner_id,program_id,labels,deployment_id,content_id,total_skill_score,total_overall_score,id,name,type,...,Client_name,code,code_description,owner_emails,spoc_emails,client_id,is_active,Program_created_at,email,learner_name
0,000138B0-0829-4B14-95D3-E3E2FC2BAB41,4A98F2AD-DE48-490A-AD9A-0B820054935D,data-science-hackathon-march-25,470ED3C6-9121-47F0-BD83-61FBAF6B314F,18084BB1-D9DD-4A4B-AC92-4C958322CD7C,0,80,18084BB1-D9DD-4A4B-AC92-4C958322CD7C,Predicting Optimal Channel for New Product Launch,PROJECT,...,Fractal Analytics,data-science-hackathon-march-25,data-science-hackathon-march-25,[soma@mentorskool.com],[vaibhav.pathak@fractal.ai],E34E7F2B-49AF-4559-9184-28F6E8C95E05,True,2025-03-04 11:27:00.360,siddhesh.dosi@fractal.ai,Siddhesh Dosi

In [34]:
score_report.columns

Index(['learner_id', 'program_id', 'labels', 'deployment_id', 'content_id',
       'total_skill_score', 'total_overall_score', 'id', 'name', 'type',
       'level', 'duration_of_completion', 'Unnamed: 0', 'Client_name', 'code',
       'code_description', 'owner_emails', 'spoc_emails', 'client_id',
       'is_active', 'Program_created_at', 'email', 'learner_name'],
      dtype='object')

In [36]:
score_report.drop(['id','type','level', 'duration_of_completion', 'Unnamed: 0','owner_emails', 'spoc_emails','is_active', 'Program_created_at'], axis=1, inplace=True)

In [37]:
score_report.to_csv(r"G:\My Drive\ML\2025\Project\Database Agent\preparing_data\score_report.csv")